.Static {
    position: static;
    border: 4px solid red;
    color: red;
}

.Fixed {
    position: fixed;
    border: 4px solid orange;
    color: orange;
}

.Relative {
    position: relative;
    border: 4px solid yellow;
    color: yellow;
    left: 30px;
}

.Parent {
    position: relative;
    border: 4px solid greenyellow;
    height: 100px;
    color: yellowgreen;
}

.Child {
    position: absolute;
    border: 4px solid green;
    right: 0px;
    bottom: 0px;
    color: green;
}

.Sticky {
    position: sticky;
    border: 4px solid blue;
    top: 20px;
    margin-top: 20px;
    color: blue;
}

.opacity {
    opacity: 0.5;
}